#heart {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 550px;
    margin-right: auto;
    display: block;
    margin-top: 150px;

}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 200px;
    top: 0;
    width: 200px;
    height: 320px;
    background: red;
    border-radius: 200px 200px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;

}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#feliz {
  text-decoration: none;
  font-size: 35px;
  font-family: 'Major Mono Display', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 190px;
  margin-right: auto;
  text-align: center;
  position: absolute;
  margin-top: 300px;
  color: red;
}

h1 {
  word-spacing: -20px;
  letter-spacing: -5px;
}
