#recipe {
  padding-left: 0;
  decoration: none;
  color: #0000B3;
  padding-right: 0;
  margin-left: 20%;
  margin-right: auto;
  max-width: 800px;
  font-family: 'Cairo', sans-serif;
  font-size: 1em;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}


h2 {
  color: #0000B3;
  font-size: 3em;
  padding-left: 0;
  decoration: none;
  color: #0000B3;
  padding-right: 0;
  margin-left: 20%;
  margin-right: auto;
  max-width: 800px;
  font-family: 'Cairo', sans-serif;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

h3 {
  color: #0000B3;
  font-size: 2em;
  padding-left: 0;
  decoration: none;
  color: #0000B3;
  padding-right: 0;
  margin-left: 20%;
  margin-right: auto;
  max-width: 800px;
  font-family: 'Cairo', sans-serif;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

p {
  max-width: 900px;
  color: #0000B3;
}

#mahjoun a {
  font-size: 150px;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  color: #0000B3;
  margin-left: 2px;
  margin-right: auto;
  display: flex;
}

p {
  font-size: 1.5em;
}

html,body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #FFDE5C;
}

#next a {
  font-size: 1em;
  font-family: 'Cairo', sans-serif;
  color: #0000B3;
  margin-left: 90%;
  margin-right: auto;
  display: flex;
}

#next1 a {
  font-size: 1em;
  font-family: 'Cairo', sans-serif;
  color: #0000B3;
  margin-left: 90%;
  margin-right: auto;
  display: flex;
}

#back a {
  font-size: 1em;
  font-family: 'Cairo', sans-serif;
  color: #0000B3;
  margin-left: 5%;
  margin-right: auto;
  display: flex;
}

#home-links {
font-size: 32px;
text-decoration: none;
font-family: 'Cairo', sans-serif;
color: #0000B3;
margin-left: 400px;
margin-right: auto;
display: flex;
}

@media only screen and (max-width: 800px) {
  #recipe p {
    font-size: 3em;
  }
  #next a {
    font-size: 3em;
  }
  #next1 a {
    font-size: 3em;
  }
  #back a {
    font-size: 3em;
  }
  h2 {
    font-size: 4em;
  }
  h3 {
    font-size: 4em;
  }
}
