#recipe {
  padding-left: 0;
  decoration: none;
  color: black;
  padding-right: 0;
  margin-left: 400px;
  margin-right: auto;
  display: block;
  width: 800px;
  font-family: 'Cairo', sans-serif;
  font-size: 60px;

}

a {
  font-size: 40px;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  color: purple;
  margin-left: 400px;
  margin-right: auto;
  display: block;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 45px;
}

footer {
  text-decoration: none;
  color: black;
}
