#recipe {
  padding-left: 0;
  decoration: none;
  color: black;
  padding-right: 0;
  margin-left: 400px;
  margin-right: auto;
  display: block;
  font-family: 'Cairo', sans-serif;
  font-size: 2em;
  margin-top: 10px;
  max-width: 800px;
  margin: 20px auto;
}

.whole {
  display: flex;
    margin-left: 20%;
    margin-top: 10px;
    margin-right: 50px;
    display: flex
}

h2 {
  color: black;
}

p {
  width: 900px;
  color: black;
}

#mahjoun a {
  font-size: 150px;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  color: black;
  margin-left: 2px;
  margin-right: auto;
  display: block;
}

p {
  font-size: 40px;
}

html,body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
}

#next a {
  font-size: 2em;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  color: black;
  margin-left: 400px;
  margin-right: auto;
  display: block;

}

#home-links {
font-size: 2em;
text-decoration: none;
font-family: 'Cairo', sans-serif;
color: black;
margin-left: 400px;
margin-right: auto;
}

.photo img {
  width: 50vw;
  margin-right: 20%;
  margin-top: 10px;
  margin-right: 50px;
  display: flex
}
