html {
  background-color: white;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: 33.333vh 33.333vh 33.333vh;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 2vw;
  color: #011C3C;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 1vw;
  color: #011C3C;
  display: flex;
  justify-content: center;
}

p {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: left;
  margin-left: 15px;
}

p:hover {
  color: yellow;
}

.card {
  perspective: 3000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  min-height: 100%;
  backface-visibility: hidden;
}

.card-front {
  width: 100wh;
height: 90vh;
color: #fff;
background: linear-gradient(-40deg, #E8320C, #FFAF00, #FF5500, #FF0701);
background-size: 200% 200%;
-webkit-animation: Gradient 5s ease infinite;
-moz-animation: Gradient 5s ease infinite;
animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}
.card-back {
  background-color: #FFF9E3;
  color: white;
  transform: rotateY(180deg);
}
