.uppercase-r {
  width:400px;
  height:500px;
  border: 1px solid black;
  float: left;

}

#lower-r {
  width: 0;
  height: 0;
  border-bottom: 400px solid red;
  border-right: 400px solid transparent;
  float: left;
}
