html,body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

body {
    background-image:url('2.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;

}

body {
  background-color: #67001a;
}

#null {
  opacity: 0;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

p {
    padding-left: 20;
    padding-right: 25;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 36px;

}
#narrator-title {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-family: 'Major Mono Display', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  text-align: center;
  margin-top: 250px;

}

#button {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-family: 'Major Mono Display', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  text-align: center;
  margin-top: 600px;
}
