

html,body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #5a1e00;
}

#null {
  opacity: 0;
}



a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: normal;
}

#ruth1 {
  text-decoration: none;
  color: #faf0be;
  font-size: 55px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: 100px;
  margin-right: auto;
  display: block;
  width: 800px;
  margin-top: 250px;
  font-weight: 600;
  margin-bottom: 350px;
}

#ruth-serious2 {
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-family: 'Roboto Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 100px;
  margin-right: auto;
  display: block;
  width: 800px;
}

#ruth-serious3 {
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-family: 'Roboto Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 100px;
  margin-right: auto;
  display: block;
  width: 800px;
  margin-bottom: 200px;
}

#snorri1 {
  text-decoration: none;
  color: #faf0be;
  font-size: 65px;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: 100px;
  display: block;
  width: 800px;
  margin-top: 250px;
  margin-bottom: 350px;
  font-weight: 300;
}

#narrator1 {
  text-decoration: none;
  color: white;
  font-size: 80px;
  font-family: 'Major Mono Display', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 450px;
  margin-top: 250px;
  text-align: center;
}

#second-act {
  background-color: #604c3e;
  height: 10000%;
  width: 100%;
  padding: 0px;
  width: 200%;
}

#snorri2 {
    text-decoration: none;
    color: #faf0be;
    font-size: 65px;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-left: 0;
    padding-right: 0;
    margin-left: 100px;
    margin-right: auto;
    display: block;
    width: 800px;
    margin-top: 250px;
    margin-bottom: 350px;
    font-weight: 300;
}

#narrator2 {
  text-decoration: none;
  color: white;
  font-size: 80px;
  font-family: 'Major Mono Display', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 450px;
  margin-top: 250px;
}
