

html,body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #5a1e00;
}

#null {
  opacity: 0;
}



a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: normal;
}

#ruth1 {
  text-decoration: none;
  color: #faf0be;
  font-size: 55px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: 100px;
  margin-right: auto;
  display: block;
  width: 800px;
  margin-top: 250px;
  font-weight: 600;
  margin-bottom: 350px;
}

#ruth2 {
  text-decoration: none;
  color: #faf0be;
  font-size: 150px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: 400px;
  margin-right: auto;
  display: block;
  width: 800px;
  margin-top: 250px;
  font-weight: 800;
  margin-bottom: 350px;
}

#ruth3 {
  text-decoration: none;
  color: #faf0be;
  font-size: 130px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: 400px;
  margin-right: auto;
  display: block;
  width: 800px;
  margin-top: 250px;
  font-weight: 700;
  margin-bottom: 350px;
}

#ruth4 {
  text-decoration: none;
  color: #faf0be;
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: 300px;
  margin-right: auto;
  display: block;
  width: 800px;
  margin-top: 250px;
  font-weight: 600;
  margin-bottom: 350px;
}

#snorri1 {
  text-decoration: none;
  color: #faf0be;
  font-size: 65px;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: 100px;
  display: block;
  width: 800px;
  margin-top: 250px;
  margin-bottom: 350px;
  font-weight: 300;
}

#narrator1 {
  text-decoration: none;
  color: #faf0be;
  font-size: 40px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 450px;
  margin-top: 250px;
  text-align: center;
}

#second-act {
  background-color: #604c3e;
  height: 10000%;
  width: 100%;
  padding: 0px;
  width: 200%;
}

#snorri2 {
    text-decoration: none;
    color: #faf0be;
    font-size: 65px;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
    margin-right: auto;
    display: block;
    width: 800px;
    margin-top: 250px;
    margin-bottom: 350px;
    font-weight: 300;
}

#narrator2 {
  text-decoration: none;
  color: #faf0be;
  font-size: 50px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 600px;
  margin-right: auto;
  display: block;
  margin-bottom: 450px;
  margin-top: 250px;
}

#narrator3 {
  text-decoration: none;
  color: #faf0be;
  font-size: 50px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 400px;
  margin-right: auto;
  display: block;
  margin-top: 250px;
}


#snorri3 {
    text-decoration: none;
    color: #faf0be;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-left: 0;
    padding-right: 0;
    margin-left: 100px;
    margin-right: auto;
    display: block;
    margin-top: 250px;
    margin-bottom: 350px;
    font-weight: 700;
}

#snorri4 {
    text-decoration: none;
    color: #faf0be;
    font-size: 130px;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-left: 0;
    padding-right: 0;
    margin-left: 500px;
    margin-right: auto;
    display: block;
    margin-top: 250px;
    margin-bottom: 250px;
    font-weight: 500;
}

#snorri5 {
  text-decoration: none;
  color: #faf0be;
  font-size: 100px;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: 800px;
  margin-right: auto;
  display: block;
  width: 800px;
  margin-top: 250px;
  margin-bottom: 250px;
  font-weight: 700;
}

#snorri6 {
  text-decoration: none;
  color: #faf0be;
  font-size: 80px;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-left: 600px;
  margin-right: auto;
  display: block;
  width: 800px;
  margin-top: 250px;
  margin-bottom: 250px;
  font-weight: 900;
}


#pew1 {
  text-decoration: none;
  color: #faf0be;
  font-size: 70px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 100px;
  margin-right: auto;
  display: block;
  margin-bottom: 450px;
  margin-top: 250px;
}

#pew2 {
  text-decoration: none;
  color: #faf0be;
  font-size: 100px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 500px;
  margin-right: auto;
  display: block;
  margin-bottom: 450px;
  margin-top: 250px;
  font-weight: 800;
}

#pew3 {
  text-decoration: none;
  color: #faf0be;
  font-size: 90px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 900px;
  margin-right: auto;
  display: block;
  margin-bottom: 450px;
  margin-top: 250px;
  font-weight: 100;
}

#pew4 {
  text-decoration: none;
  color: #faf0be;
  font-size: 120px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 300px;
  margin-right: auto;
  display: block;
  margin-bottom: 450px;
  margin-top: 250px;
  font-weight: 900;
}

#pew5 {
  text-decoration: none;
  color: #faf0be;
  font-size: 70px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 300px;
  margin-right: auto;
  display: block;
  margin-bottom: 450px;
}

#glock1 {
  text-decoration: none;
  color: #faf0be;
  font-size: 80px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 300px;
  margin-right: auto;
  display: block;
  font-weight: 900;
}

#glock2 {
  text-decoration: none;
  color: #faf0be;
  font-size: 150px;
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 0;
  padding-right: 0;
  margin-left: 500px;
  margin-right: auto;
  display: block;
  font-weight: 900;
}
